.footer {
    background: #00252E;
    color: #fff;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding-top: 100px;
}

.footer .footer_container {
   display: grid;
   gap: 20px;
}

.address {
    display: flex;
    gap: 1rem;
    margin-bottom: 20px;
}

.social ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    align-self: baseline;
}

.footer p {
    margin-bottom: 20px ;
} 

.copyright {
    margin-top: 20px;
    text-align : center;
    font-family: 'Poppins';
    font-size: 0.69563rem;
    font-weight: 400;
}

.footer_logo {
    background: #fff;
    width: 250px;
    margin-bottom: 20px;
}

/*For desktop and tablet*/
@media screen and (min-width: 765px){
    .contact_info {
       /* display: grid;
        grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
        /*gap: 10px; 
        align-items: center;
        */
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 100px;
    }
    
    .footer_container {
        position: relative;
    }

    .footer_logo {
        position: absolute;
        top: 15%;
        left: 7%;
    }

    .addresses {
        width: 25%;
    }
    
    .copyright .copyright_info {
        position: absolute;
        right: 10%;

    }
}
